---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';

import fovporgImg from '../content/fovp_org.png';
import localmeImg from '../content/localme.png';
import personalSiteImg from '../content/personalsite.png';
---

<Layout title="Projects">
	<div class="px-4 grid grid-cols-1 gap-4 content-center place-items-center py-6">
		<div class="font-code-font text-4xl">
			Active Projects
		</div>
		<InfoCard cursor={false}  class="align-middle" subject="Friends of Victoria Park Website" subjectLink="https://test.fovp.org">
			<img class="py-3" src={fovporgImg} />
			<div class="text-xl">Website redesign done for the Friends of Victoria Park in St. John's, NL. Website is built using NextJS, TailwindCSS for styling, and Framer Motion for Animations. Future plans for the site include online Day Camp Registration REST API where completed forms are converted to Google Doc on finalization of payment using Square's Online Payment API.</div>
		</InfoCard>
		<InfoCard cursor={false}  class="align-middle" subject="LocalMe" subjectLink="https://github.com/LocalMe-Social">
			<img class="py-3" src={localmeImg} />
			<div class="text-xl">Started working on an app in high school which has continued to this day! Am working to create a social media platform and rewards platform using Dart and Flutter for the Frontend and Firebase for the database. Current plans for the project include a complete rewrite for the backend to create REST API using NodeJS, Prisma, Express, and PostgreSQL. There are also plans to create a Web App, although, the tech for this has not been chosen yet.</div>
		</InfoCard>
		<InfoCard cursor={false}  class="align-middle" subject="Personal Website" subjectLink="https://liamearle.ca">
			<img class="py-3" src={personalSiteImg} />
			<div class="text-xl">Personal Website built using AstroJS, ReactJS, and TailwindCSS. Currently, it displays a short bio, my resume, active projects, and past school projects.</div>
		</InfoCard>
		<div class="font-code-font text-4xl">
			School Projects
		</div>
		<InfoCard cursor={false}  class="align-middle" subject="Hangman" subjectLink="https://github.com/liam-earle/Hangman">
			<div class="text-xl">Built using C++</div>
		</InfoCard>
		<InfoCard cursor={false}  class="align-middle" subject="Vector" subjectLink="https://github.com/liam-earle/Vector">
			<div class="text-xl">Built using C++</div>
		</InfoCard>
		<InfoCard cursor={false}  class="align-middle" subject="Tic-Tac-Toe" subjectLink="https://github.com/liam-earle/Tic-Tac-Toe">
			<div class="text-xl">Built using C++</div>
		</InfoCard>
		<InfoCard cursor={false}  class="align-middle" subject="Rational-Number" subjectLink="https://github.com/liam-earle/Rational-Number">
			<div class="text-xl">Built using C++</div>
		</InfoCard>
		<InfoCard cursor={false}  class="align-middle" subject="2-Coord-Point" subjectLink="https://github.com/liam-earle/2-Coord-Point">
			<div class="text-xl">Built using C++</div>
		</InfoCard>
	</div>
</Layout>
